Dockerfile
Dockerfile.dev
docker-compose.yml
doc/
Guardfile
README.md
*.dump
*.vscode
*build/
dev-initial-setup.sh
_build/
.git/
assets/node_modules/
deps/
test/
priv/static/
.*
docker-compose.yml
Makefile
